<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AirLine.Properties.Settings.employeeDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\employeeDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AirLine.Properties.Settings.customerDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\customerDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AirLine.Properties.Settings.flightDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\flightDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AirLine.Properties.Settings.customersDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\customersDatabase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>